{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <header class="jumbotron jumbotron-fluid text-center text-white bg-secondary">
        <h1>Matt McCarron</h1>
        <p>Actuary | MS in Data Science | ML Enthusiast</p>
    </header>

    <section class="container">
        <h2 class="text-secondary">About Me</h2>
        <p>Hello, I'm Matt McCarron. I'm 28 years old and currently live in Philadelphia with a couple of friends.
            I grew up in the suburbs of Philadelphia, but have lived in New York, Connecticut, and even Copenhagen for a few months before
            moving back to Philadelphia in 2020. I've worked as an Actuary for the past six years in a variety of different pricing, data,
            and finance roles, but am focused on working in Machine Learning in the future. </p>
    </section>

    <section class="container">
        <h2 class="text-secondary">Experience</h2>
        <p>I started working in 2017 as a Senior Actuarial Analyst in Behavioral Pricing at Cigna. I worked there for 5 years in roles
            ranging from pricing, finance, and portfolio management, until switching to Point32Health to work as an Actuary pricing Health
            insurance for New Hampshire. I've worked there for the last year and a half. You can learn more about my experience on my
            Resume page.</p>
    </section>

    <section class="container">
        <h2 class="text-secondary">Academic Background</h2>
        <p>I went to school at Hamilton College in Clinton, New York, where I graduated in 2017 with a Bachelor's degree in Mathematics and Economics.
            Since then, I've passed 6 actuarial exams and a variety of business modules, in order to become an Associate of the Society of Actuaries (ASA),
            which I achieved in 2020. In December 2023, I graduated from Eastern University with a Masters of Data Science. </p>
    </section>

    <section class="container">
        <h2 class="text-secondary">Interests and hobbies</h2>
        <p>I'm excited to see where Machine Learning and Artificial Intelligence goes in the coming years. I'm looking forward to being a part of the building process!
            In general, my hobbies include trying different restaurants in Philly, traveling the country, hiking, and snowboarding. I plan to visit
            all the national parks in my lifetime.</p>
    </section>
{% endblock %}